#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.app-container {
  display: flex;
  
}

.navbar {
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #0b1723;
}

.content {
  margin-left: 200px;
  padding: 20px;
}